
@{
    ViewBag.Title = "Callback";
}

<h2>An Authorization Code was received</h2>

<p>Your code is:</p>

<h2>@ViewBag.Code</h2>

<p>
    Copy the code to My Desktop Application and close the browser.
</p>
<p>
    This Authorization Code is valid only for the App defined by Caspit Software. <br />
    client_id=931d2ca419fa8a41edeab5b2f361645f<br />
    It will not work on other Apps.
</p>

