
@{
    ViewBag.Title = "דוגמה לדסקטופ - מודול חשבוניות לישראל";
}

<h2>Demo for a desktop application</h2>


<p>
    <a href="https://openapi.taxes.gov.il/shaam/tsandbox/longtimetoken/oauth2/authorize?response_type=code&client_id=931d2ca419fa8a41edeab5b2f361645f&scope=scope">Click here to get the Authorization Code</a>
</p>

<p>
    Once you have the Authorization Code copy it to My Desktop Application and close the browser.<br />
</p>