
@{
    ViewBag.Title = "דוגמה לדסקטופ - מודול חשבוניות לישראל";
}

<h1>Demo for a desktop application</h1>


<h2>Option 1 - No change to your application</h2>
<p>
    Use Caspit's Allocation Number page <a href="https://app.caspit.biz/OpenApi" target="_blank">here</a>.<br />
    Then instruct the user to copy the Allocation Number into a Remarks/Details field in your application.
</p>

<hr />

<h2>Option 2 - Implementing some API calls in your application</h2>
<p style="line-height: 2em;">
    The idea is this:<br />
    (1)	The user gets the Authorization Code via a browser using this page.<br />
    (2)	The user copies the Auth Code into the desktop application.<br />
    (3)	The application performs the API calls to get the Token.<br />
    This means that you need to add the ability to perform Http communication into the application and parse the response.<br />
    If this is not feasible then the whole process will have to be implemented outside of the desktop application.<br />
    (4)	The application stores the Token and the Refresh Token.<br />
    (5)	The application uses the Token to get an Allocation Number.<br />
    (6)	The application uses the Refresh Token to get a new Token and new Refresh Token. Goto step 4.<br />
    (7)	Once the Refresh Token expires display a relevant message to the user and goto step 1.<br />
</p>

<p>
    <a href="https://openapi.taxes.gov.il/shaam/tsandbox/longtimetoken/oauth2/authorize?response_type=code&client_id=931d2ca419fa8a41edeab5b2f361645f&scope=scope">Click here to get the Authorization Code</a>
</p>

<p>
    Once you have the Authorization Code copy it to My Desktop Application and close the browser.<br />
</p>





