
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>
    This is a demo site for the Israel Tax Authority Invoice Number Allocation initiative.
</p>
<p>
    The demo was developed by Dror Saddan <a href="mailto:dror@caspit.biz">dror@caspit.biz</a>
</p>

<p>
    This site was developed based on the available documentation. The Israel Tax Authority did not supervise the design and was not invloved in the development.
</p>

<p>
    אתר הדגמה לפרויקט הקצאת מספר חשבונית של רשות המיסים בישראל
</p>
<p>
    האתר פותח על-ידי דרור סדן <a href="mailto:dror@caspit.biz">dror@caspit.biz</a>
</p>

<p>
    הפיתוח נעשה לפי מסמכי התיעוד של הרשות וללא פיקוח או הכוונה על ידה.
</p>

<p>The code is available via Git repository: <a href="https://github.com/dsaddan/Israel-Tax-Authority-OpenAPI-Taxes-Demo/">https://github.com/dsaddan/Israel-Tax-Authority-OpenAPI-Taxes-Demo/</a></p>

