
@{
    ViewBag.Title = "תיעוד - מודול חשבוניות לישראל";
}

<h2>Links And Documentation</h2>

<h2>תיעוד - מודול חשבוניות לישראל</h2>

<p>
    <a href="https://secapp.taxes.gov.il/srsherutatzmi/#/clientMainDashboard" target="_blank">האיזור האישי של רשות המיסים</a> האיזור האישי של רשות המיסים הוא נפרד מהאיזור האישי הממשלתי.
</p>
<p>
    <a href="https://openapi-portal.taxes.gov.il/sandbox/" target="_blank">כניסה ל-Sandbox</a>
</p>

<p>
    <a href="https://www.gov.il/he/service/connect-to-shaam" target="_blank">קישור לשע"ם – מייצגים, כספות, ובתי תוכנה</a>
</p>
<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_Software-house-connection-procedure.pdf" target="_blank">נוהל חיבור בית תוכנה</a>
</p>

<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_procedure_of_obtaining_fpermission_to_register_the_software_house.pdf" target="_blank">נוהל מתן הרשאה לרישום בית התוכנה מטעם בעל העסק/התאגיד</a>
</p>

<p>
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide.pdf" target="_blank">הנחיות התחברות לשרותי רשות המסים מיום 5/2023</a><br />
    English version:
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide_EN.pdf" target="_blank">Israel Tax Authority Login Instructions - Version 1.0 / 5.2023 </a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/IncomeTax_software-houses-050623.pdf" target="_blank">הנחיות לשרותי API ליצרני תוכנות  מיום 6/2023</a>
</p>

<p style="direction:rtl; text-align:left;">
    <span style="text-decoration: line-through;">מודל חשבוניות ישראל תיאור ה API's מיום 7/2023</span> <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">הוחלף במסמך מיום 8/2023</a><br />  

    English version: <span style="text-decoration: line-through;">Israel Invoice Model Description of API's - Edition 7.2023 / 1.0</span> <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">Replaced by a new document from 8/2023</a> (only an Hebrew version is available)<br/>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">מודל חשבוניות ישראל תיאור ה API's מיום 8/2023</a><br />
</p>


<h2>הנחיות למשתמשים</h2>
<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/vat11092023.pdf" target="_blank">הוראת ביצוע מס ערך מוסף מספר 01/2023</a>
</p>

<h2>כתבות בעיתונות</h2>
<p style="direction:rtl; text-align:left;">
    <a href="https://www.calcalist.co.il/local_news/article/ryzn3ebqh" target="_blank">הקצאת מספרי חשבוניות מס – מהפכה של ממש!</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.globes.co.il/news/article.aspx?did=1001446337" target="_blank">רשות המסים תאשר בזמן אמת כל חשבונית מעל 25 אלף שקל</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.grantthornton.co.il/insights1/tax-insignths/2023/Arrangements_Law/" target="_blank">הקצאת מספרי חשבוניות על-ידי רשות המיסים</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://britcpa.co.il/hozrim/%D7%9E%D7%95%D7%93%D7%9C-%D7%97%D7%A9%D7%91%D7%95%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%A7%D7%A6%D7%90%D7%AA-%D7%97%D7%A9%D7%91%D7%95%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%91%D7%94%D7%A8%D7%95%D7%AA/" target="_blank">מודל חשבוניות - "הקצאת חשבוניות" - הבהרות מרשות המסים</a>
</p>

