
@{
    ViewBag.Title = "תיעוד - מודול חשבוניות לישראל";
}

<h2>תימצות של התהליך</h2>

<div style="direction:rtl;text-align:right">
    <p>
        התהליך הוא זה:
    </p>

    <p>
        המערכת שלך מפנה את הדפדפן לקישור הבא:
        https://openapi.taxes.gov.il/shaam/production/longtimetoken/oauth2/authorize?response_type=code&client_id=9c83a7320fecabd55319a63a82f34d7a&scope=scope&state=7778809
    </p>

    <p>
        המערכת של רשות המיסים מציגה דף הזדהות.
    </p>

    <p>
        המשתמש מזדהה מול המערכת של רשות המיסים.
    </p>

    <p>
        המערכת של רשות המיסים שולחת Redirect לכתובת שהגדרת מראש ושולחת לך את ה-Authorization Code  ואת ה-State
    </p>

    <p>
        המערכת שלך משתמשת ב-Authorization Code ומקבלת Access Token.<br />
        בנוסף המערכת מקבלת גם Refresh Token.
    </p>

    <p>
        המערכת שלך משתמשת ב-Access Token  ומקבלת Allocation Number.
    </p>

    <p>
        בפעם הבאה אפשר לעבור שוב דרך המסלול הנ"ל.<br />
        או, אם שמרת את ה-Refresh Token, להשתמש בו בכדי לקבל Access Token חדש.<br />
        זה חוסך למשתמש את ההזדהות מול רשות המיסים.<br />
    </p>

</div>

<h2>קודי שגיאה של קבלת מספר הקצאה</h2>

<style>
    #errCodes td {
        border: 1px solid;
        padding: 1em;
    }
</style>
<table id="errCodes" style="border-collapse:collapse;margin-left:51.25pt" cellspacing="0">
    <tr style=""><td style=""><p class="s45" style="padding-top: 10pt;padding-left: 5pt;padding-right: 10pt;text-indent: 0pt;line-height: 16pt;text-align: left;">Http code</p></td><td style=""><p class="s45" style="">Http Message</p></td><td style=""><p class="s45" style="">More Information</p></td><td style=""><p class="s45" style="">Help</p></td></tr>
    <tr style=""><td style=""><p class="s18" style="">400</p></td><td style=""><p style="">Bad Request</p></td><td style=""><p class="s18" style="">object syntax Invalid</p></td><td style=""><p class="s18" style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;line-height: 16pt;text-align: left;">Check client side Json for syntax errors</p></td></tr>
    <tr style=""><td style=""><p class="s18" style="">401</p></td><td style=""><p style="">Unauthorized</p></td><td style=""><p class="s18" style="">Cannot pass the security checks that are required by the target API or operation, Enable debug headers for</p><p class="s18" style="padding-left: 5pt;text-indent: 0pt;line-height: 15pt;text-align: left;">more details</p></td><td style=""><p class="s18" style="padding-top: 11pt;padding-left: 5pt;padding-right: 8pt;text-indent: 0pt;text-align: justify;">Make sure OAuth2 protocol is set and that the Token is up to date</p></td></tr>
    <tr style=""><td style=""><p class="s18" style="">403</p></td><td style=""><p style="">Forbidden</p></td><td style=""><p class="s18" style="padding-top: 10pt;padding-left: 5pt;padding-right: 5pt;text-indent: 0pt;line-height: 16pt;text-align: left;">You don&#39;t have permission to access this service</p></td><td style="direction:rtl; text-align: right;"><p class="s18" >דוגמה: שלחת Client ID של App שלא קיים במערכת של רשות המיסים.</p><p>או שה-APP לא subscribed על השירות</p></td></tr>
    <tr style=""><td style=""><p class="s18" style="">404</p></td><td style=""><p style="">Not Found</p></td><td style=""><p class="s18" style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;line-height: 16pt;text-align: left;">No resources match requested URI</p></td><td style=""><p class="s18" style="">Check URI is correct</p></td></tr>
    <tr style=""><td style=""><p class="s18" style="">406</p></td><td style=""><p style="">Not Acceptable</p></td><td style=""><p class="s18" style="">Server cannot fulfill request</p></td><td style=""><p class="s18" style="padding-top: 10pt;padding-left: 5pt;text-indent: 0pt;line-height: 16pt;text-align: left;">Check permission for the Vat_numebr<br />למשתמש שהזדהה מול רשות המיסים אין הרשאה לקבל מספר הקצאה עבור ה-Vat_number שנשלח ב-JSON</p></td></tr>
    <tr style=""><td style=""><p class="s18" style="">422</p></td><td style=""><p style="">Unprocessable Entity</p></td><td style=""><p class="s18" style="">Validate: temporary:///swagger/shaa m_tsandbox_invoices_v1.js</p></td><td style=""><p class="s18" style="padding-top: 11pt;padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">One or more of the parameters don’t match the schema. Check the JSON in swagger for specific</p><p class="s18" style="padding-left: 5pt;text-indent: 0pt;line-height: 15pt;text-align: left;">error.</p></td></tr>
    <tr style=""><td style=""><p class="s18" style="">500</p></td><td style=""><p style="">Internal Server Error</p></td><td style=""><p class="s18" style="">Error_Id</p></td><td style=""><p class="s18" style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;line-height: 16pt;text-align: left;">באג בצד של רשות המיסים. לדוגמה: שלחת ערך בפורמט שהם לא ציפו לו, החסרת שדה שהוא לא שדה חובה אבל הקוד שלהם כן מצפה לו. פנה אליהם שיעזרו לך.</p></td></tr></table>

<h2>Links And Documentation</h2>

<h2>תיעוד - מודול חשבוניות לישראל</h2>

<p>
    <a href="~/Content/Documents/הזדהות ורישום לפורטל מפתחים.pptx" target="_blank">מצגת של רשות המיסים בעניין הרישום לפורטל המפתחים</a>.
</p>

<p>
    <a href="https://secapp.taxes.gov.il/srsherutatzmi/#/clientMainDashboard" target="_blank">האיזור האישי של רשות המיסים</a> האיזור האישי של רשות המיסים הוא נפרד מהאיזור האישי הממשלתי.
</p>
<p>
    <a href="https://openapi-portal.taxes.gov.il/sandbox/" target="_blank">כניסה ל-Sandbox</a>
</p>

<p>
    <a href="https://openapi-portal.taxes.gov.il/shaam/production/" target="_blank">כניסה ל-Production</a>
</p>

<p>
    <a href="https://www.gov.il/he/service/connect-to-shaam" target="_blank">קישור לשע"ם – מייצגים, כספות, ובתי תוכנה</a>
</p>
<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_Software-house-connection-procedure.pdf" target="_blank">נוהל חיבור בית תוכנה</a>
</p>

<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_procedure_of_obtaining_fpermission_to_register_the_software_house.pdf" target="_blank">נוהל מתן הרשאה לרישום בית התוכנה מטעם בעל העסק/התאגיד</a>
</p>

<p>
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide.pdf" target="_blank">הנחיות התחברות לשרותי רשות המסים מיום 5/2023</a><br />
    English version:
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide_EN.pdf" target="_blank">Israel Tax Authority Login Instructions - Version 1.0 / 5.2023 </a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/IncomeTax_software-houses-050623.pdf" target="_blank">הנחיות לשרותי API ליצרני תוכנות  מיום 6/2023</a>
</p>

<p style="direction:rtl; text-align:left;">
    <span style="text-decoration: line-through;">מודל חשבוניות ישראל תיאור ה API's מיום 7/2023</span> <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">הוחלף במסמך מיום 8/2023</a><br />  

    English version: <span style="text-decoration: line-through;">Israel Invoice Model Description of API's - Edition 7.2023 / 1.0</span> <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">Replaced by a new document from 8/2023</a> (only an Hebrew version is available)<br/>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">מודל חשבוניות ישראל תיאור ה API's מיום 8/2023</a><br />
</p>


<h2>הנחיות למשתמשים</h2>
<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/vat11092023.pdf" target="_blank">הוראת ביצוע מס ערך מוסף מספר 01/2023</a>
</p>

<h2>כתבות בעיתונות</h2>
<p style="direction:rtl; text-align:left;">
    <a href="https://www.calcalist.co.il/local_news/article/ryzn3ebqh" target="_blank">הקצאת מספרי חשבוניות מס – מהפכה של ממש!</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.globes.co.il/news/article.aspx?did=1001446337" target="_blank">רשות המסים תאשר בזמן אמת כל חשבונית מעל 25 אלף שקל</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.grantthornton.co.il/insights1/tax-insignths/2023/Arrangements_Law/" target="_blank">הקצאת מספרי חשבוניות על-ידי רשות המיסים</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://britcpa.co.il/hozrim/%D7%9E%D7%95%D7%93%D7%9C-%D7%97%D7%A9%D7%91%D7%95%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%A7%D7%A6%D7%90%D7%AA-%D7%97%D7%A9%D7%91%D7%95%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%91%D7%94%D7%A8%D7%95%D7%AA/" target="_blank">מודל חשבוניות - "הקצאת חשבוניות" - הבהרות מרשות המסים</a>
</p>

