
@{
    ViewBag.Title = "תיעוד - מודול חשבוניות לישראל";
}

<h2>תימצות של התהליך</h2>

<div style="direction:rtl;text-align:right">
    <p>
        התהליך הוא זה:
    </p>

    <p>
        המערכת שלך מפנה את הדפדפן לקישור הבא:
        https://openapi.taxes.gov.il/shaam/production/longtimetoken/oauth2/authorize?response_type=code&client_id=9c83a7320fecabd55319a63a82f34d7a&scope=scope&state=7778809
    </p>

    <p>
        המערכת של רשות המיסים מציגה דף הזדהות.
    </p>

    <p>
        המשתמש מזדהה מול המערכת של רשות המיסים.
    </p>

    <p>
        המערכת של רשות המיסים שולחת Redirect לכתובת שהגדרת מראש ושולחת לך את ה-Authorization Code  ואת ה-State
    </p>

    <p>
        המערכת שלך משתמשת ב-Authorization Code ומקבלת Access Token.<br />
        בנוסף המערכת מקבלת גם Refresh Token.
    </p>

    <p>
        המערכת שלך משתמשת ב-Access Token  ומקבלת Allocation Number.
    </p>

    <p>
        בפעם הבאה אפשר לעבור שוב דרך המסלול הנ"ל.<br />
        או, אם שמרת את ה-Refresh Token, להשתמש בו בכדי לקבל Access Token חדש.<br />
        זה חוסך למשתמש את ההזדהות מול רשות המיסים.<br />
    </p>

</div>

<h2>קודי שגיאה של קבלת מספר הקצאה</h2>

<style>
    #errCodes td {
        border: 1px solid;
        padding: 0.5em;
    }
</style>
<table id="errCodes" style="border-collapse:collapse;" cellspacing="0">
    <tr><th>Http Code</th><th>Http Message</th><th>More Information</th><th>Help</th></tr>
    <tr><td><p>400</p></td><td>Bad Request</td><td><p>object syntax Invalid</p></td><td>Check your Json for syntax errors</td></tr>
    <tr><td><p>401</p></td><td>Unauthorized</td><td><p>Cannot pass the security checks that are required by the target API or operation, Enable debug headers for more details</p></td><td><p>Make sure OAuth2 protocol is set and that the Token is up to date</p><p style="direction:rtl;">שגיאה שקשורה ב-Token ששלחת. לדוגמה, התוקף של ה-Token פג.</p></td></tr>
    <tr><td><p>403</p></td><td>Forbidden</td><td>You don't have permission to access this service</td><td style="direction:rtl; text-align: right;"><p >דוגמה: שלחת Client ID של App שלא קיים במערכת של רשות המיסים.</p><p>או שה-APP לא subscribed על השירות</p></td></tr>
    <tr><td><p>404</p></td><td>Not Found</td><td>No resources match requested URI</td><td>Check URI is correct</td></tr>
    <tr><td><p>406</p></td><td>'Not Acceptable</td><td><p>Server cannot fulfill request</p></td><td><p>Check permission for the Vat_numebr<br />למשתמש שהזדהה מול רשות המיסים אין הרשאה לקבל מספר הקצאה עבור ה-Vat_number שנשלח ב-JSON</p></td></tr>
    <tr><td><p>422</p></td><td>Unprocessable Entity</td><td><p>Validate: temporary:///swagger/shaa m_tsandbox_invoices_v1.js</p></td><td><p>One or more of the parameters doesn’t match the schema. Check the JSON in swagger for specific error.</p><p style="direction:rtl">שגיאה בערך של אחד או יותר מהשדות ב-JSON ששלחת.</p></td></tr>
    <tr><td><p>500</p></td><td>Internal Server Error</td><td>Error_Id</td><td><p style="direction:rtl">באג בצד של רשות המיסים. לדוגמה: שלחת ערך בפורמט שהם לא ציפו לו, החסרת שדה שהוא לא שדה חובה אבל הקוד שלהם כן מצפה לו. פנה אליהם שיעזרו לך invoices@taxes.gov.il.</p></td></tr></table>

<h2>Links And Documentation</h2>

<h2>תיעוד - מודול חשבוניות לישראל</h2>

<p>
    <a href="~/Content/Documents/הזדהות ורישום לפורטל מפתחים.pptx" target="_blank">מצגת של רשות המיסים בעניין הרישום לפורטל המפתחים</a>.
</p>

<p>
    <a href="https://secapp.taxes.gov.il/srsherutatzmi/#/clientMainDashboard" target="_blank">האיזור האישי של רשות המיסים</a> האיזור האישי של רשות המיסים הוא נפרד מהאיזור האישי הממשלתי.
</p>
<p>
    <a href="https://openapi-portal.taxes.gov.il/sandbox/" target="_blank">כניסה ל-Sandbox</a>
</p>

<p>
    <a href="https://openapi-portal.taxes.gov.il/shaam/production/" target="_blank">כניסה ל-Production</a>
</p>

<p>
    <a href="https://www.gov.il/he/service/connect-to-shaam" target="_blank">קישור לשע"ם – מייצגים, כספות, ובתי תוכנה</a>
</p>
<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_Software-house-connection-procedure.pdf" target="_blank">נוהל חיבור בית תוכנה</a>
</p>

<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_procedure_of_obtaining_fpermission_to_register_the_software_house.pdf" target="_blank">נוהל מתן הרשאה לרישום בית התוכנה מטעם בעל העסק/התאגיד</a>
</p>

<p>
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide.pdf" target="_blank">הנחיות התחברות לשרותי רשות המסים מיום 5/2023</a><br />
    English version:
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide_EN.pdf" target="_blank">Israel Tax Authority Login Instructions - Version 1.0 / 5.2023 </a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/IncomeTax_software-houses-050623.pdf" target="_blank">הנחיות לשרותי API ליצרני תוכנות  מיום 6/2023</a>
</p>

<p style="direction:rtl; text-align:left;">
    <span style="text-decoration: line-through;">מודל חשבוניות ישראל תיאור ה API's מיום 7/2023</span> <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">הוחלף במסמך מיום 8/2023</a><br />  

    English version: <span style="text-decoration: line-through;">Israel Invoice Model Description of API's - Edition 7.2023 / 1.0</span> <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">Replaced by a new document from 8/2023</a> (only an Hebrew version is available)<br/>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/IncomeTax_software-houses-100923.pdf" target="_blank">מודל חשבוניות ישראל תיאור ה API's מיום 8/2023</a><br />
</p>


<h2>הנחיות למשתמשים</h2>
<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/vat11092023.pdf" target="_blank">הוראת ביצוע מס ערך מוסף מספר 01/2023</a>
</p>

<h2>כתבות בעיתונות</h2>
<p style="direction:rtl; text-align:left;">
    <a href="https://www.calcalist.co.il/local_news/article/ryzn3ebqh" target="_blank">הקצאת מספרי חשבוניות מס – מהפכה של ממש!</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.globes.co.il/news/article.aspx?did=1001446337" target="_blank">רשות המסים תאשר בזמן אמת כל חשבונית מעל 25 אלף שקל</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.grantthornton.co.il/insights1/tax-insignths/2023/Arrangements_Law/" target="_blank">הקצאת מספרי חשבוניות על-ידי רשות המיסים</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://britcpa.co.il/hozrim/%D7%9E%D7%95%D7%93%D7%9C-%D7%97%D7%A9%D7%91%D7%95%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%A7%D7%A6%D7%90%D7%AA-%D7%97%D7%A9%D7%91%D7%95%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%91%D7%94%D7%A8%D7%95%D7%AA/" target="_blank">מודל חשבוניות - "הקצאת חשבוניות" - הבהרות מרשות המסים</a>
</p>

