
@{
    ViewBag.Title = "תיעוד - מודול חשבוניות לישראל";
}

<h2>Links And Documentation</h2>

<h2>תיעוד - מודול חשבוניות לישראל</h2>

<p>
    <a href="https://secapp.taxes.gov.il/srsherutatzmi/#/clientMainDashboard" target="_blank">האיזור האישי של רשות המיסים</a> האיזור האישי של רשות המיסים הוא נפרד מהאיזור האישי הממשלתי.
</p>
<p>
    <a href="https://openapi-portal.taxes.gov.il/sandbox/" target="_blank">כניסה ל-Sandbox</a>
</p>

<p>
    <a href="https://www.gov.il/he/service/connect-to-shaam" target="_blank">קישור לשע"ם – מייצגים, כספות, ובתי תוכנה</a>
</p>
<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_Software-house-connection-procedure.pdf" target="_blank">נוהל חיבור בית תוכנה</a>
</p>

<p>
    <a href="https://www.gov.il/BlobFolder/service/connect-to-shaam/he/Service_Pages_shaam_procedure_of_obtaining_fpermission_to_register_the_software_house.pdf" target="_blank">נוהל מתן הרשאה לרישום בית התוכנה מטעם בעל העסק/התאגיד</a>
</p>

<p>
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide.pdf" target="_blank">הנחיות התחברות לשרותי רשות המסים מיום 5/2023</a><br />
    English version:
    <a href="https://secapp.taxes.gov.il/OpenApiUserGuide/OpenApiUserGuide_EN.pdf" target="_blank">Israel Tax Authority Login Instructions - Version 1.0 / 5.2023 </a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.gov.il/BlobFolder/generalpage/hor-software-other/he/IncomeTax_software-houses-050623.pdf" target="_blank">הנחיות לשרותי API ליצרני תוכנות  מיום 6/2023</a>
</p>

<p style="direction:rtl; text-align:left;">
    <a href="https://www.gov.il/BlobFolder/generalpage/hor-software-other/he/IncomeTax_software-houses-050623.pdf" target="_blank">מודל חשבוניות ישראל תיאור ה API's מיום 7/2023</a><br />

    English version: <a href="https://www.gov.il/BlobFolder/generalpage/hor-software-other/he/IncomeTax_software-houses-en-040723.pdf" target="_blank">Israel Invoice Model Description of API's - Edition 7.2023 / 1.0</a>
</p>

<h2>הנחיות למשתמשים</h2>
<p style="direction:rtl; text-align:left;">
    <a href="~/Content/Documents/vat11092023.pdf" target="_blank">הוראת ביצוע מס ערך מוסף מספר 01/2023</a>
</p>

